            <div class="grid grid-cols-2 font-medium gap-2">
                <div>
                    <h3 class="text-xl">
                        Weight
                    </h3>
                    <p class="font-normal">
                        {{userExercise()?.weight}}lbs
                    </p>
                </div>
                <div>
                    <h3 class="text-xl">
                        Repetitions
                    </h3>
                    <p class="font-normal">
                        {{userExercise()?.repetition}}
                    </p>
                </div>
                <div>
                    <h3 class="text-xl">
                        Sets
                    </h3>
                    <p class="font-normal">
                        {{userExercise()?.sets}}
                    </p>
                </div>
                <div>
                    <h3 class="text-xl">
                        Rest Time
                    </h3>
                    <p class="font-normal">
                        {{userExercise()?.restTime}}s
                    </p>
                </div>
                <div>
                    <h3 class="text-xl">
                        Execution Time
                    </h3>
                    <p class="font-normal">
                        {{userExercise()?.executionTime}}s
                    </p>
                </div>
            </div>